{% extends "layouts/main.html" %}

{% block pageTitle %}Your current address - Apply for your first provisional driving licence{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
      text: "Back",
      href: "/ni-number"
    }) }}

    <span class="govuk-caption-l">Your address history</span>
    <h1 class="govuk-heading-l">What is your current address?</h1>

    <p class="govuk-body">Your driving licence will be sent to this address. DVLA also needs your address history for the past 3 years.</p>

    <form action="/address-answer" method="post">

      {{ govukInput({
        label: {
          text: "Address line 1",
          classes: "govuk-label--s"
        },
        id: "address-line1",
        name: "address-line1",
        autocomplete: "address-line1",
        value: data['address-line1']
      }) }}

      {{ govukInput({
        label: {
          text: "Address line 2 (optional)",
          classes: "govuk-label--s"
        },
        id: "address-line2",
        name: "address-line2",
        autocomplete: "address-line2",
        value: data['address-line2']
      }) }}

      {{ govukInput({
        label: {
          text: "Town or city",
          classes: "govuk-label--s"
        },
        id: "address-town",
        name: "address-town",
        classes: "govuk-!-width-two-thirds",
        autocomplete: "address-level2",
        value: data['address-town']
      }) }}

      {{ govukInput({
        label: {
          text: "County (optional)",
          classes: "govuk-label--s"
        },
        id: "address-county",
        name: "address-county",
        classes: "govuk-!-width-two-thirds",
        value: data['address-county']
      }) }}

      {{ govukInput({
        label: {
          text: "Postcode",
          classes: "govuk-label--s"
        },
        id: "address-postcode",
        name: "address-postcode",
        classes: "govuk-input--width-10",
        autocomplete: "postal-code",
        value: data['address-postcode']
      }) }}

      {{ govukDateInput({
        id: "address-from",
        namePrefix: "address-from",
        fieldset: {
          legend: {
            text: "Date you moved to this address",
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "For example, 3 2022"
        },
        items: [
          {
            name: "month",
            label: "Month",
            classes: "govuk-input--width-2",
            value: data['address-from-month']
          },
          {
            name: "year",
            label: "Year",
            classes: "govuk-input--width-4",
            value: data['address-from-year']
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
