{% extends "layouts/main.html" %}
{% block pageTitle %}{% if data['errors']['previous-address'] %}Error: {% endif %}Previous addresses - Apply for your first provisional driving licence{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "/address-current" }) }}

    {% if data['errors']['previous-address'] %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: data['errors']['previous-address'], href: "#previous-address" }]
      }) }}
    {% endif %}

    <span class="govuk-caption-l">Your address history</span>

    <form action="/previous-address-answer" method="post">

      {{ govukRadios({
        name: "previous-address",
        idPrefix: "previous-address",
        fieldset: {
          legend: {
            text: "Have you lived at any other addresses in the last 3 years?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: { text: "DVLA needs a complete address history for the past 3 years." },
        errorMessage: data['errors']['previous-address'] and { text: data['errors']['previous-address'] },
        items: [
          { value: "yes", text: "Yes" },
          { value: "no", text: "No" }
        ]
      }) }}

      {{ govukButton({ text: "Continue" }) }}

    </form>

  </div>
</div>
{% endblock %}
