{% extends "layouts/main.html" %}
{% block pageTitle %}{% if data['errors']['card-name'] or data['errors']['card-number'] %}Error: {% endif %}Pay for your provisional driving licence - Apply for your first provisional driving licence{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "/check-answers" }) }}

    <h1 class="govuk-heading-l">Pay for your provisional driving licence</h1>

    {% if data['errors']['card-name'] or data['errors']['card-number'] %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { text: data['errors']['card-name'], href: "#card-name" } if data['errors']['card-name'],
          { text: data['errors']['card-number'], href: "#card-number" } if data['errors']['card-number']
        ] | selectattr("text")
      }) }}
    {% endif %}

    {{ govukInsetText({
      html: "The fee for a first provisional driving licence is <strong>£34.00</strong>. This is a non-refundable government fee."
    }) }}

    <form action="/payment-answer" method="post">

      {{ govukInput({
        label: { text: "Name on card", classes: "govuk-label--m" },
        id: "card-name",
        name: "card-name",
        autocomplete: "cc-name",
        value: data['card-name'],
        errorMessage: data['errors']['card-name'] and { text: data['errors']['card-name'] }
      }) }}

      {{ govukInput({
        label: { text: "Card number", classes: "govuk-label--m" },
        id: "card-number",
        name: "card-number",
        classes: "govuk-input--width-20",
        inputmode: "numeric",
        spellcheck: false,
        errorMessage: data['errors']['card-number'] and { text: data['errors']['card-number'] }
      }) }}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Expiry date</legend>
          <div class="govuk-date-input">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="card-expiry-month">Month</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="card-expiry-month" name="card-expiry-month" type="text" inputmode="numeric" autocomplete="cc-exp-month">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="card-expiry-year">Year</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="card-expiry-year" name="card-expiry-year" type="text" inputmode="numeric" autocomplete="cc-exp-year">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukInput({
        label: { text: "Security code (CVV)", classes: "govuk-label--m" },
        hint: { text: "The last 3 digits on the back of the card" },
        id: "card-cvv",
        name: "card-cvv",
        classes: "govuk-input--width-5",
        inputmode: "numeric",
        spellcheck: false
      }) }}

      {{ govukButton({ text: "Pay £34.00" }) }}

    </form>

  </div>
</div>
{% endblock %}
