{% extends "layouts/main.html" %}
{% block pageTitle %}{% if data['errors']['residency'] %}Error: {% endif %}Do you live in England, Scotland or Wales? - Apply for your first provisional driving licence{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "/date-of-birth" }) }}

    {% if data['errors']['residency'] %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: data['errors']['residency'], href: "#residency" }]
      }) }}
    {% endif %}

    <span class="govuk-caption-l">Eligibility</span>

    {{ govukInsetText({
      text: "This service is for residents of Great Britain only. If you live in Northern Ireland, you must apply through the Driver and Vehicle Agency (DVA) at nidirect.gov.uk."
    }) }}

    <form action="/residency-answer" method="post">

      {{ govukRadios({
        name: "residency",
        idPrefix: "residency",
        fieldset: {
          legend: {
            text: "Do you currently live in England, Scotland or Wales?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        errorMessage: data['errors']['residency'] and { text: data['errors']['residency'] },
        items: [
          { value: "yes", text: "Yes" },
          { value: "no-northern-ireland", text: "No, I live in Northern Ireland" },
          { value: "no-other", text: "No, I live outside the UK" }
        ]
      }) }}

      {{ govukButton({ text: "Continue" }) }}

    </form>

  </div>
</div>
{% endblock %}
