{% extends "layouts/main.html" %}
{% block pageTitle %}{% if data['errors']['vehicle-type'] %}Error: {% endif %}Which type of vehicle do you want to drive? - Apply for your first provisional driving licence{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "/medical-conditions" }) }}

    {% if data['errors']['vehicle-type'] %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: data['errors']['vehicle-type'], href: "#vehicle-type-car" }]
      }) }}
    {% endif %}

    <span class="govuk-caption-l">Your application</span>

    <form action="/vehicle-type-answer" method="post">

      {{ govukCheckboxes({
        name: "vehicle-type",
        idPrefix: "vehicle-type",
        fieldset: {
          legend: {
            text: "Which type of vehicle do you want to drive?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: { text: "Select all that apply." },
        errorMessage: data['errors']['vehicle-type'] and { text: data['errors']['vehicle-type'] },
        items: [
          { value: "car", text: "Car", hint: { text: "Category B - you must be 17 or older to drive." } },
          { value: "moped", text: "Moped", hint: { text: "Category AM - you must be 16 or older." } },
          { value: "motorbike", text: "Motorbike", hint: { text: "Category A - you must be 17 or older." } },
          { value: "tractor", text: "Agricultural tractor", hint: { text: "Category F - you must be 16 or older." } }
        ]
      }) }}

      {{ govukButton({ text: "Continue" }) }}

    </form>

  </div>
</div>
{% endblock %}
